.card {
  width: 90vw;
  margin: auto;
  border-bottom: 1px solid darkslategray;
  padding: 25px;
}

.cardTitle {
  padding-top: 10px;
  text-align: center;
}

.cardContent {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.cardInfo {
  margin-left: 50px;
  line-height: 15px;
}
